{% extends "bootstrap/base.html" %}
{% block title %}Home{% endblock %}

{% block styles %}

{{ super() }}
	<style>
        .error {
            color: red;
        }
    </style>
{% endblock %}

{% block content %}

    <form action="{{ url_for('add') }}" method="post">
        <label>Book Name</label>
        <input type="text" name="book_name" class="{% if 'book_name' in error_fields %}error{% endif %}">
        {% if 'book_name' in error_fields %}
            <h6 class="error"> Book Name is required!</h6>
        {% endif %}
        <label>Book Author</label>
        <input type="text" name="athor_name" class="{% if 'athor_name' in error_fields %}error{% endif %}">
        {% if 'athor_name' in error_fields %}
            <h6 class="error"> Author is required!</h6>
        {% endif %}
        <label>Rating</label>
        <input type="text" name="rating"class="{% if 'rating' in error_fields %}error{% endif %}">
        {% if 'rating' in error_fields %}
            <h6 class="error"> Rating is required!</h6>
        {% endif %}
        <button type="submit">Add Book</button>
    </form>
{% endblock %}